.movie-card{
    background-color: white;
    border-radius: 5px;
    padding: 15px 10px 15px 0px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.2);
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.movie-card:hover{
    box-shadow: 0 0 20px rgba(10, 10, 10, 0.1);
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
}

.movie-checkbox{
    padding: 0 15px;
    zoom: 1.5;
}

.movie-title{
    color: #005C99;
    font-weight: bolder;
}

.movie-year{
    color: #686868;
    font-weight: 100;
    margin-top: 5px;
}